#sidebar {
  width: 60px;
  height: 100%;
  color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  list-style: none;
  background-color: #44695E;
}

#sidebar nav ul {
  display: inline;
  list-style: none;
}
#sidebar nav ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

#sidebar nav ul a:hover li {
  color: #fff;
  background: #1B2925;
}


#sidebar nav ul a:hover li i {
  color: #995555;
}

#sidebar nav ul li {
  font-size: 0;
}

#sidebar nav ul li i {
	margin: 4px;
	font-size: 40px;
}

.nav-active li {
  color: #fff;
  background: #1B2925;
}

.nav-active li i {
  color: #995555;
}

#content {
  position: absolute;
  left: 180px;
}

/* Submenu */
	#menu ul li a.active+ul{display:block}
	#menu ul li ul{margin-top: 0;display: none;}
	#menu ul li ul li{
		border-bottom: none;
		font-size: 0;
	}
	
	#menu ul li ul li a:hover{
		background-color:#1A1A1A;
	}
/* /Submenu */


