#sidebar {
  width: 160px;
  height: 100%;
  color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  list-style: none;
  background-color: #44695E;
}

#sidebar .nav-top-contact {
  font-size: 1em;
  text-align: right;
  padding: 0.1em 1.2em 0.1em 0.1em;
}
#sidebar nav ul {
  display: inline;
  list-style: none;
}
#sidebar nav ul a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2em;
}

#sidebar nav ul a:hover li {
  color: #fff;
  background: #1B2925;
}


#sidebar nav ul a:hover li i {
  color: #995555;
}

#sidebar nav ul li {
  padding: 0.6em 0.6em 0.6em 2.5em;
  text-align: right;
}

.nav-active li {
  color: #fff;
  background: #1B2925;
}

.nav-active li i {
  color: #995555;
}

#content {
  position: absolute;
  left: 180px;
}

/* Submenu */
	#menu ul li a.active+ul{display:block}
	#menu ul li ul{
		margin-top: 0;
		display: none;
	}
	#menu ul li ul li{
		border-bottom: none;
		font-size: 0.75em;
		padding: 0.6em 1.3em 0.3em 0em;
		width: 90px;	
	}
/* /Submenu */


