<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMappeing">
	<!-- 게시판 글수 -->
	<select id="boardCount" resultType="int">
		select count(*) from board
	</select>
	
	<!-- 게시판 페이징 -->
	<select id="boardByPage" resultType="net.entity.BoardBean">
	select * 
	from board 
	order by num desc
	</select>
	
	<!-- 게시판 등록 -->
	<insert id="insert" parameterType="net.entity.BoardBean">
		insert into board( num, b_id, title, content, img ) values ( myboard_seq.nextval
		, #{b_id} , #{title} , #{content}, #{img})
	</insert>
	
	<!-- 지도 마커 등록 -->
	<insert id="mapinsert" parameterType="net.entity.mapBean">
		insert into map(title, lat, lng ) values (#{title}, #{lat} , #{lng})
	</insert>
	
	<!-- 덧글 등록 -->
	<insert id="commdinsert" parameterType="net.entity.CommendBean">
		insert into comments(num, id, comments,b_num ) values (seq_comments.nextval, #{id} , #{comments}, #{b_num})
	</insert>
	
	<!-- 덧글 리스트 -->
	<select id="comtselect" resultType="net.entity.CommendBean" parameterType="int">
		select * 
		from comments
		where b_num = #{num}
		order by num desc
	</select>
	
	
	<!-- 덧글 카운트 -->
	<select id="comtCount" resultType="net.entity.JoinBean" parameterType="int">
		select count(*) 
		from comments
		where b_num = (SELECT num 
                       FROM board 
                       where num = #{num})
	</select>
	
	
	<!-- 게시판 삭제 -->
	<delete id="boardDelete" parameterType="int"> 
		delete from board 
		where num = #{num} 
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="boardUpdate" parameterType="net.entity.BoardBean">
		update board 
		set title = #{title} , content = #{content} 
		where num = #{num}
	</update>
	
	
	<!-- 조회수 -->
	<update id="readCountUpdate" parameterType="net.entity.BoardBean">
		update board 
		set readcount = readcount+1 
		where num = #{num}
	</update>
	
	<!-- num 글 조회 -->
	<select id="detail" parameterType="int" resultType="net.entity.BoardBean">
	select * from
		board where num = #{num}
	</select>
	
	
	
	<!-- 번호로 삭제 
	<delete id="boardDelete" parameterType="int"> 
		delete from myboard 
		where num = #{num} 
	</delete>
	타이틀로 삭제 
	<delete id="boardDeleteTitle" parameterType="string"> 
		delete from myboard where title = #{title} 
	</delete> 
	전체 레코드 검색
	<select id="boardAll" 
		resultType="com.entity.BoardBean"> select * from myboard 
	</select> 
	<select id="boardCount" resultType="int">
		select count(*) from myboard 
	</select> 
		
	<select id="boardByTitleAutho" parameterType="hashmap" resultType="com.entity.BoardBean"> 
		select * from myboard where title = #{zxc} and author = #{abc} 
	</select> 
	-->
</mapper>